/* current - подсвечивает текущую страницу */

:root {
  --main-color-text: #757575; /* основной цвет текста */
  --title-text-color: #212121; /* Цвет заголовков и навигации */
  --hero-color: #ffffff; /* Hero  color */
  --logo-color: #2196f3; /* основной цвет логотипа */
  --head-logo-color: #000000; /* цвет логотипа щапка */
  --footer-logo-color: #ffffff; /* цвет логотипа подвал*/
  --button-background: #2196f3; /* цвет заливки кнопки */
  --hero-bg-color: #2f303a; /* цвет заливки героя */
  --bg-header: #ffffff; /* BG цвет шапки */
  --bg-footer-hero: #2f3040; /* BG цвет подвала */
  --bg-section: #f5f4fa; /* BG темный цвет секций  */
  --bg-section-light: #e5e5e5; /* BG светлый цвет секций  */
  --nav-hover-color: #2196f3; /* цвет хонора  */
  --address-color: rgba(255, 255, 255, 0.6); /* цвет адреса в подвале  */
  --hover-button: #188ce8;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
body {
  margin: 0;
  border: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  background-color: var(--bg-header);
}
header {
  border-bottom: 1px solid #eeeeee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: var(--bg-footer-hero);
}

button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.title,
.section-title {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid teal; */
}

/* ======== HOVER and FOCUS ========== */

.header .link:hover,
.address-link:hover,
.maps-link:hover,
.header .link:focus,
.address-link:focus,
.maps-link:focus,
.nav .link.current {
  color: var(--nav-hover-color);
}

/*============ logo ==============*/

.logo-header,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color);
}
.logo-header span {
  color: var(--head-logo-color);
}
.logo-footer span {
  color: var(--footer-logo-color);
}

/*=========== navigation ==============*/

.nav {
  display: flex;
  flex-direction: row;
}

.logo-flex {
  display: flex;
  margin-right: 93px;
  align-items: center;
}

.nav-flex {
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-flex {
  display: flex;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color-text);
}

/*============HERO===========*/

.section-hero {
  text-align: center;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--bg-footer-hero);
}
.section-hero .title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  margin-bottom: 40px;

  width: 696px;
  /* text-align: center; */
  border-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

/*============Button-main===========*/

.main-button {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0ch;
}

.main-button:hover,
.main-button.link:focus {
  background-color: var(--hover-button);
}

/*=========Benefits section===========*/

.section-benefits .title {
  margin-bottom: 10px;
  padding-top: 94px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-benefits > p {
  margin-bottom: 94px;
}

.benefits-flex {
  display: flex;
  gap: 30px;
}

/*=========About section=========*/

.section-about {
  text-align: center;
}
.section-about .title {
  margin-bottom: 50px;
  padding-top: 94px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about-flex {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

/*===========section-team=============*/

.team-flex {
  display: flex;
  gap: 30px;
}

.section-team .section-title {
  padding-top: 94px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team p {
  font-size: 16px;
  line-height: 1.19px;
}

.section-team {
  text-align: center;
  background-color: var(--bg-section);
}

.team-cards {
  /* display: inline-block; */
  margin-bottom: 94px;
  min-height: 368px;
  min-width: 270px;

  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* .team-cards > p{
  padding-bottom: 30px;
  padding-top: 10px;
} */

.card-title{
  padding-top: 30px;
  margin-bottom: 10px;
}
.team {
  display: flex;
  flex-direction: row;
}

/*============footer============*/
address {
  min-height: 252px;
  display: inline-block;
}
.address-link,
.maps-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.logo-footer {
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
}

.maps-link {
  margin-bottom: 9px;
  color: var(--hero-color);
}
.address-link {
  margin-bottom: 9px;
  color: var(--address-color);
}
.address-link.phone {
  margin-bottom: 60px;
}

/*===========Portfolio============*/

.title-none {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn-filter {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.button-filter {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  color: var(--title-text-color);
  background-color: var(--bg-section);
}

.card-filter > .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--button-background);
  color: var(--hero-color);
}

.filter-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.list p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color-text);
}
